<?php /** @var Webkul\MpAssignProduct\Block\Buybox\Product\View $block */ ?>
<?php if($block->canDisplayBlock()) : ?>
    <div class="buybox-wrapper">
    <div class="wk-loading-mask wk-display-none">
        <div class="wk-loader"></div>
    </div>

        <div class="label-sellers-list">
            <span><?= __("Escolha uma loja abaixo e compre:") ?></span>
        </div>

        <div class="buybox-content">
            <div class="buybox-sellers">
                <div class="sellers-list">
                <?php $displayedItemsCount = 0; ?>
                <?php foreach($block->getItems() as $item): ?>
                    <?php
                    $seller = $block->getItemSeller($item);
                    if(!$seller->getId()) continue;
                    ?>
                    <div class="item-container">
                        <label for="select-item-<?= $displayedItemsCount ?>">
                        <span>
                            <input data-index="<?= $displayedItemsCount ?>" data-id="<?= $item->getId() ?>" id="select-item-<?= $displayedItemsCount ?>" type="radio" name="addtocartproduct" class="buybox-radio"/>
                        </span>
                        </label>
                        <div class="title-wrapper">
                            <span class="shop-title"><?= $seller->getShopTitle() ?></span>
                            <div class="super-attribute-unselected">
                                <span class="shop-subtitle"><?= __("a partir de:") ?></span>
                                <span class="shop-price"><?= $block->currency($block->getItemMinimalPrice($item), true) ?></span>
                            </div>
                            <div class="super-attribute-selected" style="display: none;">
                                <span class="shop-subtitle"><?= __("a partir de:") ?></span>
                                <span id="supper-attribute-price-<?= $displayedItemsCount ?>" class="shop-price"></span>
                            </div>
                        </div>
                    </div>
                    <div id="data-item-<?= $displayedItemsCount ?>" style="display: none" class="buybox-item-info">
                        <div class="price-box">
                            <span id="buybox-price" class="buybox-price super-attribute-unselected"><?= __("A partir de ") . $block->currency($block->getItemMinimalPrice($item), true) ?></span>
                            <span id="buybox-price" style="display: none;" class="buybox-price super-attribute-selected"><?= __("Por ") . $block->currency($item->getPrice(), true) ?></span>
                        </div>
                        <div class="seller-box">
                            <span class="seller-label"><?= __("Vendido e entrege por:") ?></span>
                            <span id="buybox-seller" class="buybox-seller"><?= $seller->getShopTitle() ?></span>
                        </div>

                        <div class="box-tocart">
                            <div class="fieldset">
                                <div class="field qty buybox">
                                    <label class="label" for="qty"><span><?= $block->escapeHtml(__('Qty')) ?></span></label>
                                    <div class="control" is="qty-control">
                                        <input type="number"
                                            name="qty"
                                            id="qty"
                                            min="0"
                                            value="<?= $block->getProductDefaultQty() * 1 ?>"
                                            title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
                                            class="input-text qty"
                                            data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                                            />
                                    </div>
                                </div>
                                <div class="actions">
                                    <button
                                            id="buybox-add-to-cart-<?= $displayedItemsCount ?>"
                                            data-id="<?= $item->getId() ?>"
                                            assign-product-id="<?= $item->getAssignProductId() ?>"
                                            addtocart-url="<?= $block->getAddUrl($item) ?>"
                                            class="buybox-add-to-cart action primary tocart"
                                            title="<?= __("Comprar") ?>"
                                            type="button"
                                            >
                                        <span><?= $block->escapeHtml('Comprar') ?></span>
                                    </button>
                                    <?= $block->getChildHtml('', true) ?>
                                </div>
                            </div>
                        </div>

                    </div>
                    <?php
                    $displayedItemsCount++;
                    if($displayedItemsCount >= $block->getMaxDisplayableItems()) break;
                    ?>
                <?php endforeach; ?>
                </div>
            </div>
            <div id="buybox-product" class="buybox-product">
            </div>
        </div>
        <?php if($block->canShowMoreOffers()) : ?>
            <div class="more-offers">
            <span class="more-offers-link">
                <span id="link-compare" onclick="insertCustomConfigProductOptions()"><?= __("Consulte aqui os valores e frete de todos os fornecedores") ?></span>
            </span>
            </div>
        <?php endif; ?>
    </div>
    <script>
        var debugEnabled = true;

        function debugLog(message)
        {
            if(debugEnabled) {
                console.log(message);
            }
        }

        function insertCustomConfigProductOptions()
        {
            debugLog('insertCustomConfigProductOptions::click');
            var url = "<?= $block->getCompareUrl($block->getProduct()->getId()) ?>";
            debugLog('url: ' + url);
            var elements = document.getElementsByClassName("swatch-attribute");
            debugLog('elements:');
            debugLog(elements);
            var configurable_item_options = [];
            var attributeId;
            var selectedId;
            if (elements.length) {
                for (var i = 0; i < elements.length; ++i) {
                    attributeId = elements[i].getAttribute("attribute-id");
                    selectedId = elements[i].getAttribute("option-selected");
                    if (!attributeId || !selectedId) {
                        attributeId = elements[i].getAttribute("data-attribute-id");
                        selectedId = elements[i].getAttribute("data-option-selected");
                        if (!attributeId || !selectedId) {
                            alert("Por favor, selecione as opções do produto")
                            return;
                        }

                        configurable_item_options.push({
                            "option_id": attributeId,
                            "option_value": selectedId
                        });
                    }
                }

                url = url + "config/" + JSON.stringify(configurable_item_options);
                window.location = url;
            } else {
                debugLog('Empty options');
                alert("Por favor, selecione as opções do produto")
            }
        }
    </script>
    <script type="text/x-magento-init">
    {
        "body": {
            "Webkul_MpAssignProduct/js/addtocart": <?= $block->getJavascriptOptions() ?>
        }
    }
</script>
    <style>
        .more-offers {
          padding: 18px 0 0 20px;
        }
        #link-compare {
            cursor:pointer;
            color:#da332b;
            text-decoration:underline;
        }

        #link-compare:hover {
            text-decoration:none;
        }
    </style>
<?php endif; ?>
