<!-- BANNER FULL SLM -->
{{widget type="Biz\Bannerslider\Block\Widget\Bannerslider" slider="3" template="widget/bannerslider.phtml"}}

<!-- ************************* -->
<!-- NAVEGUE POR IDADE -->
<div class="age-box agebox">

  <!-- Titulo -->
  <div class="title">Encontre o material do seu filho <strong>Navegue por idade</strong></div>

  <!-- Carrossel Age Box -->
  <div class="glide-carousel glide" is="glide-slider-5" data-mounted="false">
    <div class="glide__track track" data-glide-el="track">
      <ul class="age-list list slides glide__slides">

        <!-- 1 ano - Early Toddler -->
        <li class="glide__slide slide age-item item 1ano">
          <a href="/early-toddler-2020-aluno-ano-letivo-2020" target="_blank" class="age-link link">
            <img src="{{media url=&quot;1-ano-Early-Toddler.png&quot;}}" alt="1 ano - Early Toddler" />
            <span class="text">Early Toddler</span>
          </a>
        </li>

        <!-- 2 anos - Toddler -->
        <li class="glide__slide slide age-item item -2anos">
          <a href="/toddler-2020-aluno-ano-letivo-2020" target="_blank" class="age-link link">
            <img src="{{media url=&quot;2-anos-Toddler.png&quot;}}" alt="2 anos - Toddler" />
            <span class="text">Toddler</span>
          </a>
        </li>

        <!-- 3 anos - Nursery -->
        <li class="glide__slide slide age-item item -3anos">
          <a href="/nursery-2020-aluno-ano-letivo-2020" class="age-link link">
            <img src="{{media url=&quot;3-anos-Nursery.png&quot;}}" alt="3 anos - Nursery" />
            <span class="text">Nursery</span>
          </a>
        </li>

        <!-- 4 anos - Junior Kindergarten -->
        <li class="glide__slide slide age-item item -4anos">
          <a href="/junior-kindergarten-2020-aluno-ano-letivo-2020" class="age-link link">
            <img src="{{media url=&quot;4-anos-Junior_Kindergarten.png&quot;}}" alt="4 anos - Junior Kindergarten" />
            <span class="text">Junior Kindergarten</span>
          </a>
        </li>

        <!-- 5 anos - Senior Kindergarten -->
        <li class="glide__slide slide age-item item -5anos">
          <a href="/intermediate-kindergarten-2020-aluno-ano-letivo-2020" class="age-link link">
            <img src="{{media url=&quot;5-anos-Senior_Kindergarten.png&quot;}}" alt="5 anos - Senior Kindergarten" />
            <span class="text">Senior Kindergarten</span>
          </a>
        </li>
        
        <!-- 6 anos - Year 1 -->
        <li class="glide__slide slide age-item item -6anos">
          <a href="/year-2-2020-aluno-ano-letivo-2021" class="age-link link">
            <img src="{{media url=&quot;6-anos-Y1.png&quot;}}" alt="6 anos - Year 1" />
            <span class="text">Year 1 <small>(1º Ano)</small></span>
          </a>
        </li>

        <!-- 7 anos - Year 2 -->
        <li class="glide__slide slide age-item item -7anos">
          <a href="/year-2-2020-aluno-ano-letivo-2020" class="age-link link">
            <img src="{{media url=&quot;7-anos-Y2.png&quot;}}" alt="7 anos - Year 2" />
            <span class="text">Year 2 <small>(2º Ano)</small></span>
          </a>
        </li>

        <!-- 8 anos - Year 3 -->
        <li class="glide__slide slide age-item item -8anos">
          <a href="/year-2-2020-aluno-ano-letivo-2022" class="age-link link">
            <img src="{{media url=&quot;8-anos-Y3.png&quot;}}" alt="8 anos - Year 3" />
            <span class="text">Year 3 <small>(3º Ano)</small></span>
          </a>
        </li>

        <!-- 9 anos - Year 4 -->
        <li class="glide__slide slide age-item item -9anos">
          <a href="/year-4-2020-aluno-ano-letivo-2020" class="age-link link">
            <img src="{{media url=&quot;9-anos-Y4.png&quot;}}" alt="9 anos - Year 4" />
            <span class="text">Year 4 <small>(4º Ano)</small></span>
          </a>
        </li>

        <!-- 10 anos - Year 5 -->
        <li class="glide__slide slide age-item item -10anos">
          <a href="/year-4-2020-aluno-ano-letivo-2021" class="age-link link">
            <img src="{{media url=&quot;10-anos-Y5.png&quot;}}" alt="10 anos - Year 5" />
            <span class="text">Year 5 <small>(5º Ano)</small></span>
          </a>
        </li>

        <!-- 11 anos - Year 6 -->
        <li class="glide__slide slide age-item item -11anos">
          <a href="/year-7-2020-aluno-ano-letivo-2021" class="age-link link">
            <img src="{{media url=&quot;11-anos-Y6.png&quot;}}" alt="11 anos - Year 6" />
            <span class="text">Year 6 <small>(6º Ano)</small></span>
          </a>
        </li>

        <!-- 12 anos - Year 7 -->
        <li class="glide__slide slide age-item item -12anos">
          <a href="/year-7-2020-aluno-ano-letivo-2020" class="age-link link">
            <img src="{{media url=&quot;12-anos-Y7.png&quot;}}" alt="12 anos - Year 7" />
            <span class="text">Year 7 <small>(7º Ano)</small></span>
          </a>
        </li>

        <!-- 13 anos - Year 8 -->
        <li class="glide__slide slide age-item item -13anos">
          <a href="/year-9-2020-aluno-ano-letivo-2020" class="age-link link">
            <img src="{{media url=&quot;13-anos-Y8.png&quot;}}" alt="13 anos - Year 8" />
            <span class="text">Year 8 <small>(8º Ano)</small></span>
          </a>
        </li>

        <!-- 14 anos - Year 9 -->
        <li class="glide__slide slide age-item item -14anos">
          <a href="/year-9-2020-aluno-ano-letivo-2021" class="age-link link">
            <img src="{{media url=&quot;14-anos-Y9.png&quot;}}" alt="14 anos - Year 9" />
            <span class="text">Year 9 <small>(9º Ano)</small></span>
          </a>
        </li>

        <!-- 15 anos - Year 10 High School I -->
        <li class="glide__slide slide age-item item -15anos">
          <a href="/year-10-pack.html" class="age-link link">
            <img src="{{media url=&quot;15-anos-1HS.png&quot;}}" alt="15 anos - Year 10 High School I" />
            <span class="text">Year 10 - High School I <small>(1º Ensino Médio)</small></span>
          </a>
        </li>

        <!-- 16 anos - Year 11 High School II -->
        <li class="glide__slide slide age-item item -16anos">
          <a href="" class="age-link link">
            <img src="{{media url=&quot;16-anos-2HS.png&quot;}}" alt="16 anos - Year 11 High School II" />
            <span class="text">Year 11 - High School II <small>(2º Ensino Médio)</small></span>
          </a>
        </li>

        <!-- 17 anos - Year 12 High School III -->
        <li class="glide__slide slide age-item item -17anos">
          <a href="" class="age-link link">
            <img src="{{media url=&quot;17-anos-3HS.png&quot;}}" alt="17 anos - Year 12 High School III" />
            <span class="text">Year 12 - High School III <small>(3º Ensino Médio)</small></span>
          </a>
        </li>

      </ul>
    </div>
    <!-- Carrossel Glide Control -->
    <div class="glide__arrows glide-arrows arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left glide-arrow arrow left" data-glide-dir="<"><svg class="ico"><use xlink:href="#prev-extrathin"></use></svg></button>
        <button class="glide__arrow glide__arrow--right glide-arrow arrow right" data-glide-dir=">"><svg class="ico"><use xlink:href="#next-extrathin"></use></svg></button>
    </div>
  </div>
</div>



<!-- ************************************************** -->
<!-- *** IMPORTANCIA DO MATERIAL SLM - O QUE E SLM? *** -->
<div class="importancia-slm">
  <img src="{{media url=&quot;slm.png&quot;}}" alt="O QUE E SLM?" />
  <div class="content">
    <div class="title">O que é o SLM?</div>
    <div class="subtitle">Saiba mais sobre a importância do material</div>
    <div class="text">Baseado na bem-sucedida metodologia canadense de ensino e aprendizagem, os SLMs <strong>são um diferencial exclusivo</strong> da Maple Bear.</div>
    <a class="link" href="/o-que-sao-slms">saiba mais</a>
  </div>
</div>


<!-- ************************** -->
<!-- SLIDER YOUTUBE -->
<div class="slider-videos">

  <div class="title"><span class="text">Vídeos</span></div>

  <!-- Carrossel Age Box -->
  <div class="glide-carousel glide" is="glide-slider-video" data-mounted="false">
    <div class="glide__track track" data-glide-el="track">
      <ul class="video-list list slides glide__slides">
        <div class="glide__slide slide">
          <!-- Early Toddler -->
          <iframe width="906" height="502" src="https://www.youtube.com/embed/fVr1u5kMaPA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="glide__slide slide">
          <!-- Toddler -->
          <iframe width="906" height="502" src="https://www.youtube.com/embed/-db3V9OPpgg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="glide__slide slide">
          <!-- Nursery -->
          <iframe width="906" height="502" src="https://www.youtube.com/embed/mxSRrPDuf0k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="glide__slide slide">
          <!-- IK -->
          <iframe width="906" height="502" src="https://www.youtube.com/embed/vOiEQEt4Nf0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="glide__slide slide">
          <!-- JK -->
          <iframe width="906" height="502" src="https://www.youtube.com/embed/PRZpX6GLucc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="glide__slide slide">
          <!-- Middle Years -->
          <iframe width="906" height="502" src="https://www.youtube.com/embed/YS2kEWeMB68" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </ul>
    </div>

    <!-- Carrossel Glide Control -->
    <div class="glide__arrows glide-arrows arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left glide-arrow arrow left" data-glide-dir="<"><svg class="ico"><use xlink:href="#prev-extrathin"></use></svg></button>
        <button class="glide__arrow glide__arrow--right glide-arrow arrow right" data-glide-dir=">"><svg class="ico"><use xlink:href="#next-extrathin"></use></svg></button>
    </div>
  </div>

  <div class="saiba-mais">Saiba mais sobre os componentes do material de 2020</div>
</div>


<!-- ************************** -->
<!-- DUVIDAS FREQUENTES -->
<div class="duvidas-box">
  <div class="title">DÚVIDAS FREQUENTES</div>
  <div class="list"> 

    <!-- Por que preciso comprar o SLM? -->
    <div class="item" is="dropdown-element">
      <div class="question">Por que preciso comprar o SLM?</div>
      <div class="content">
        Os SLMs são os materiais que garantem a execução do Programa Maple Bear e apoiam o processo de ensino-aprendizagem dos alunos, por isso a importância da aquisição.
      </div>
    </div>

    <!-- Como conferir o status do pedido ? -->
    <div class="item" is="dropdown-element">
      <div class="question">Como conferir o status do pedido?</div>
      <div class="content">
        1- Faça seu login em “Minha conta”e após isso selecione “Entre”. <br>
        2- No painel “Clientes registrados”, preencha o seu e-mail e senha e clique em “Entrar”. <br>
        3- Clique em “Meus pedidos”; <br>
        4- Nesta tela você poderá visualizar todos os pedidos que você já realizou. Caso queira visualizar informações do pedido, clique em “Visualizar Pedido”.
      </div>
    </div>

    <!-- Como comprar na Maple Bear Store? -->
    <div class="item" is="dropdown-element">
      <div class="question">Como comprar na Maple Bear Store?</div>
      <div class="content">
        1- Acesse o site www.maplebearstore.com.br  <br>
        2-Se você já realizou alguma compra ou já possuí cadastro, acesse sua conta com o cadastro já existente. Se é sua primeira compra, crie seu cadastro completando todas as informações necessárias; <br>
        3- Selecione o SLM correspondente à série de seu filho bem como o respectivo ano letivo. Confira o SLM selecionado e certifique-se de que é para uso no ano letivo correto e que realmente corresponde à série que seu filho cursará; <br>
        4- Selecione o nome do seu filho e o ano letivo em que ele usará o material; <br>
        5- Siga para o “carrinho de compras” e clique em “Finalizar Compra”. <br>
        6- Confira no carrinho de compras se as informações de entrega coincidem com o endereço da escola de seu filho. Caso não coincida, entre em contato com o suporte aos pais disponível na parte inferior da página, para que seja alterada a escola de destino; <br>
        7- Para finalizar a compra, confirme seus dados e selecione a forma de pagamento, que poderá ser cartão de crédito ou boleto bancário; <br>
        8- Selecione o número de parcelas em caso de cartão de crédito (1 à 6 parcelas); <br>
        9- Finalize o pedido.
      </div>
    </div>

  </div>
</div>


<!-- ************************** -->
<!-- BANNER GRID -->
<div class="bannergrid-slm">

  <div class="title"><span class="text">Novidades slm DO 2021</span></div>

  <div class="grid">
    <!-- Manter as imagens nessa ordem e com os respectivos tamanhos de width e height -->
   
    <!-- img-aluno  /  width="360" height="440"-->
    <img class="img-alunos" src="{{media url=&quot;img-aluno.png&quot;}}" alt="" />

    <!-- Conteudo hibrido  /  width="360" height="220" -->
    <img class="hibrido" src="{{media url=&quot;hibrido.png&quot;}}" alt="" />
    
    <!-- NOVOs recursos para YEAR 10  /  width="360" height="220" -->
    <img class="recursos" src="{{media url=&quot;recursos.png&quot;}}" alt="" />

    <!-- Mais moderno  /   width="720" height="220" -->
    <img class="moderno" src="{{media url=&quot;moderno.png&quot;}}" alt="" />

    <!-- Maplebear Vinhedo  /  width="720" height="220"-->
    <img class="img-vinhedo" src="{{media url=&quot;img-vinhedo.png&quot;}}" alt="" />

    <!-- Maplebear slm  /  width="360"  height="220" -->
    <img class="img-slm" src="{{media url=&quot;img-sml.png&quot;}}" alt="" />

    <!-- portfólio MIDDLE YEARS  /  width="360" height="440" -->
    <img class="portfolio" src="{{media url=&quot;portfolio.png&quot;}}" alt="" />

    <!-- Engajamento familiar  /  width="360" height="220" -->
    <img class="engajamento" src="{{media url=&quot;engajamento.png&quot;}}" alt="" />
  </div>
  

</div>
<!-- O js esta em maplebear/Magento_Theme/templates/end-scripts.phtml -->