<div class="sobre-maplebear">
  <div class="title">Sobre a Maple Bear</div>
  <p>ENSINO INFANTIL, FUNDAMENTAL E MÉDIO VERDADEIRAMENTE BILÍNGUE E MINISTRADO COM METODOLOGIA CANADENSE.</p>

  <p>A Maple Bear oferece o melhor da educação bilíngue canadense, preparando alunos para um mundo em que a imaginação, o raciocínio crítico, o multiculturalismo e a capacidade de integrar pessoas e disciplinas serão, cada vez mais, determinantes.</p>

  <p>São mais de 300 escolas de Ensino Infantil, Fundamental e Médio, em 16 países ao redor do mundo.</p>

  <p>No Brasil são mais de 100 escolas que não somente seguem, mas em muitos casos superam, as determinações do MEC, e oferecem ensino de excelência a 20 mil estudantes em todas as regiões do País.</p>

  <a class="link" href="https://www.instagram.com/maplebearbrasil/" target="_blank">#MapleBearBrasil</a>

</div>