<script>
    if(this.customElements)
    try{customElements.define('built-in',document.createElement('p').constructor,{'extends':'p'})}
    catch(s){document.write('<script src="//unpkg.com/@ungap/custom-elements-builtin"><\x2fscript>')}
    else
    document.write('<script src="//unpkg.com/document-register-element"><\x2fscript>');
</script>

<script type="module">
  import LazyLoadable from 'https://cdn.pika.dev/lazy-loadable@^0.1.3/minified/';
  customElements.define('lazy-loadable', LazyLoadable, { extends: "img" });
</script>


<script type="module">

  /**
   * Tocart Qty Control component
   * @extends HTMLDivElement
   */
  class TocartQtyControl extends HTMLDivElement {
    constructor(){
      super();
    }
    connectedCallback(){
      /* Adiciona botao + */
      var inc = document.createElement("div");
      inc.classList.add('inc', 'qty-button');
      var text_inc = document.createTextNode("+");
      inc.appendChild(text_inc);
      this.appendChild(inc);

      /* Adiciona botao - */
      var dec = document.createElement("div");
      dec.classList.add('dec', 'qty-button');
      var text_dec = document.createTextNode("-");
      dec.appendChild(text_dec);
      this.appendChild(dec);

      inc.addEventListener("click", function(event){
        var $button = event.target;
        var oldValue = $button.parentElement.querySelector(".input-text").value;
        var newVal = parseInt(oldValue) + 1;
        $button.parentElement.querySelector(".input-text").value = newVal;

      });
      dec.addEventListener("click", function(event){
        var $button = event.target;
        var oldValue = $button.parentElement.querySelector(".input-text").value;

        // Don't allow decrementing below one
        if (oldValue > 1) {
          var newVal = parseInt(oldValue) - 1;
        } else {
          newVal = 1;
        }
        
        $button.parentElement.querySelector(".input-text").value = newVal;

      });

    }
  }
  window.customElements.define('qty-control', TocartQtyControl, {extends: 'div'});

  

  /* Open/Close Search Mobile */
  function searchClickHandler(e){
    this.classList.toggle('active');
  }
  if(document.querySelector('.block-search')) {
    document.querySelector('.block-search .label').addEventListener('click', searchClickHandler);
  }
  



  /* Seta o top da ul do mega menu em relacao a altura da li pai */
  let root = document.documentElement;
  var categories_li = document.querySelectorAll('.navigation li.level0');
  categories_li.forEach(item => {
    if(item.classList.contains('level0')) {
      item.addEventListener('mouseover', event => {
        event.preventDefault();
        var top = item.getBoundingClientRect().top - item.getBoundingClientRect().height - 10 + "px";
        root.style.setProperty('--mouse-y', top);
      })
    }
  })



  /* Pagina Extra - SLM */

  import Glide from 'https://cdn.pika.dev/@glidejs/glide@%5E3.4.1/minified';

  /**
  * Pagina Extra - SLM
  * Slider - Navegue por idade
  * @extends HTMLDivElement
  */
  class GlideSliderAge extends HTMLDivElement {
    /** Setup rendering engine */
    constructor(){
      super();
      const self = this;
      /** @private */
      this.glide = null;
    }


    /** 
     * Run the initial rendering of the element 
     * and starts watching for external template change for re-render 
     */
    connectedCallback(){
      this.glide = this.glide || new Glide(this, {
        type: 'carousel',
        perView: 5,
        startAt: 0,
        focusAt: 1,
        gap: 15,
        rewind: false,
        classes: {
          direction: {
            ltr: '-ltr',
            rtl: '-rtl'
          },
          activeSlide: '-active',
          dragging: '-dragging',
          swipeable: '-swipeable',
          disabledArrow: '-disabled'
        },
        breakpoints: {
          1200: { perView: 5 },
          992: { perView: 4 },
          768: { perView: 3, gap: 5 },
          600: { perView: 2 }
        }
      })

      this.glide = this.glide || glide;
      this.glide = this.glide.mount()
    }

    /** 
     * Cleanup previous rendering
     */
    disconnectedCallback(){
      this.glide.destroy()
    }
  }
  if (!window.customElements.get('glide-slider-5')) {
    window.customElements.define('glide-slider-5', GlideSliderAge, { extends: "div" });
  }


  /**
  * Pagina Extra - SLM
  * Dropdown element
  */
  class DropdownElement extends HTMLDivElement {
    constructor(){
      super()
      this.classList.add('close-element')
      this.lastElementChild.classList.add('drop')
    }

    connectedCallback(){
      this.firstElementChild.addEventListener('click', (e) => {
        //e.preventDefault()
        this.classList.toggle('close-element')
        this.lastElementChild.classList.toggle('drop')
      })
    }
  }
  window.customElements.define('dropdown-element', DropdownElement, { extends: 'div' });


  /**
  * Pagina Extra - SLM
  * Slider - Videos do youtube
  * @extends HTMLDivElement
  */
  class GlideSliderVideo extends HTMLDivElement {
    /** Setup rendering engine */
    constructor(){
      super();
      const self = this;
      /** @private */
      this.glide2 = null;
    }

    /** 
     * Run the initial rendering of the element 
     * and starts watching for external template change for re-render 
     */
    connectedCallback(){
      this.glide2 = this.glide2 || new Glide(this, {
        type: 'carousel',
        perView: 1,
        startAt: 0,
        focusAt: 1,
        gap: 15,
        rewind: false,
        classes: {
          direction: {
            ltr: '-ltr',
            rtl: '-rtl'
          },
          activeSlide: '-active',
          dragging: '-dragging',
          swipeable: '-swipeable',
          disabledArrow: '-disabled'
        }
      })

      this.glide2 = this.glide2 || glide2;
      this.glide2 = this.glide2.mount();

    }

    /** 
     * Cleanup previous rendering
     */
    disconnectedCallback(){
      this.glide2.destroy()
    }
  }
  if (!window.customElements.get('glide-slider-video')) {
    window.customElements.define('glide-slider-video', GlideSliderVideo, { extends: "div" });
  }


  /**
  * Pagina Extra - SLM
  * Move o banner full para depois do breadcrumbs
  */
  window.onload = function(e){ 
    if (document.getElementById('banner-pagina-slm---banner-full')){
      document.querySelector(".breadcrumbs").after(document.getElementById('banner-pagina-slm---banner-full'));
    }
  }



</script>