<?php /** @var Webkul\MpAssignProduct\Block\Buybox\Product\View $block */ ?>
<?php if($block->canDisplayBlock()) : ?>
    <div class="buybox-wrapper">

        <div class="label-sellers-list">
            <span><?= __("Escolha uma loja abaixo e compre:") ?></span>
        </div>

        <div class="buybox-content">
            <div class="buybox-sellers">
                <div class="sellers-list">
                    <?php $displayedItemsCount = 0; ?>
                    <?php foreach($block->getItems() as $item): ?>
                        <?php
                        $seller = $block->getItemSeller($item);
                        if(!$seller->getId()) continue;
                        ?>
                        <div class="item-container">
                            <label for="select-item-<?= $displayedItemsCount ?>">
                            <span>
                                <input data-index="<?= $displayedItemsCount ?>" id="select-item-<?= $displayedItemsCount ?>" type="radio" name="addtocartproduct" class="buybox-radio"/>
                            </span>
                            </label>
                            <div class="title-wrapper">
                                <span class="shop-title"><?= $seller->getShopTitle() ?></span>
                                <?php if ($specialPrice = $block->getProductSpecialPrice($item->getAssignProductId())): ?>
                                    a partir de: <span class="shop-price"> <?= $block->currency($specialPrice, true) ?></span>
                                <?php else: ?>
                                    <span class="shop-price"><?= $block->currency($item->getPrice(), true) ?></span>
                                <?php endif; ?>
                            </div>
                        </div>

                        <div id="data-item-<?= $displayedItemsCount ?>" style="display: none" class="buybox-item-info">
                            <div class="price-box">
                                <?php if ($specialPrice = $block->getProductSpecialPrice($item->getAssignProductId())): ?>
                                    <span class="shop-price">De <?= $block->currency($item->getPrice(), true) ?> <br> Por <?= $block->currency($specialPrice, true) ?></span>
                                <?php else: ?>
                                    <span id="buybox-price" class="buybox-price"><?= __("A partir de ") . $block->currency($item->getPrice(), true) ?></span>
                                <?php endif; ?>
                            </div>
                            <div class="seller-box">
                                <span class="seller-label"><?= __("Vendido e entrege por:") ?></span>
                                <span id="buybox-seller" class="buybox-seller"><?= $seller->getShopTitle() ?></span>
                            </div>

                            <div class="box-tocart">
                                <div class="fieldset">
                                    <div class="field qty buybox">
                                        <label class="label" for="qty"><span><?= $block->escapeHtml(__('Qty')) ?></span></label>
                                        <div class="control" is="qty-control">
                                            <input type="number"
                                                name="qty"
                                                id="qty"
                                                min="0"
                                                value="<?= $block->getProductDefaultQty() * 1 ?>"
                                                title="<?= $block->escapeHtmlAttr(__('Qty')) ?>"
                                                class="input-text qty"
                                                data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                                                />
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <button
                                                id="buybox-add-to-cart-<?= $displayedItemsCount ?>"
                                                data-id="<?= $item->getId() ?>"
                                                assign-product-id="<?= $item->getAssignProductId() ?>"
                                                addtocart-url="<?= $block->getAddUrl($item) ?>"
                                                class="buybox-add-to-cart action primary tocart"
                                                title="<?= __("Comprar") ?>"
                                                type="button"
                                                >
                                            <span><?= $block->escapeHtml('Comprar') ?></span>
                                        </button>
                                        <?= $block->getChildHtml('', true) ?>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <?php
                        $displayedItemsCount++;
                        if($displayedItemsCount >= $block->getMaxDisplayableItems()) break;
                        ?>
                    <?php endforeach; ?>
                </div>
            </div>
            <div id="buybox-product" class="buybox-product">
            </div>
        </div>

        <?php if($block->canShowMoreOffers()) : ?>
            <div class="more-offers">
            <span class="more-offers-link">
                <a href="<?= $block->getCompareUrl($block->getProduct()->getId()) ?>"><?= __("Consulte aqui os valores e frete de todos os fornecedores") ?></a>
            </span>
            </div>
        <?php endif; ?>
    </div>
    <script type="text/x-magento-init">
    {
        "body": {
            "Webkul_MpAssignProduct/js/addtocart": <?= $block->getJavascriptOptions() ?>
        }
    }
</script>
<style>
    .more-offers {
      padding: 18px 0 0 20px;
    }
</style>
<?php endif; ?>
