@import './checkout.less';

.opc-wrapper {
  .shipping-address-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .shipping-address-item {
      width: 50%;
    }
  }

  .action-select-shipping-item {
    background: var(--cta);
    color: var(--brightness);
    border: none;
  }

  .action-show-popup {
    background: var(--cta);
    color: var(--brightness);
    border: none;
    border-radius: 50px;
  }
}


.opc-wrapper .shipping-address-item.selected-item {
  border-color: var(--midtone);
}

.opc-wrapper .shipping-address-item.selected-item:after {
  background: var(--midtone);
}

.table-checkout-shipping-method {
  display: flex;
  flex-direction: column;
  .radio {

    &::before {
      content: '';
      width: 14px;
      height: 14px;
      position: absolute;
      background: var(--brightness);
      border-radius: 50%;
      border: solid 1px var(--shadow);
      margin-left: -2px;
      margin-top: -1px;
    }

    &:checked::after{
      content: '\e610';
      font-family: 'luma-icons';
      width: 14px;
      height: 14px;
      position: absolute;
      background: var(--midtone);
      border-radius: 50%;
      border: solid 1px var(--midtone);
      color: #fff;
      font-size: 10px;
      text-align: center;
      line-height: 14px;
      margin-left: -2px;
      margin-top: -1px;
    }
  }
  
  tbody {
    display: flex;
    flex-direction: column;
    .col-carrier { width: 350px; }

    tr td.col-error {
      width: 100%;
      padding-bottom: 0;

      .message.error {
        margin: 0;
      }
    }

    tr td {
      border-top: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    }

    tr:last-child {
      display: flex;
      
      td {
        border-bottom: none;
      }

      > .col-method, > .col-price {
        display: none;
      }

      .col-carrier {
        background: transparent;
        padding-left: 0;
        padding-right: 0;
        width: 100%;

        > div { width: 100%; }

        table {
          margin-top: 0!important;
          margin-left: 0!important;
          margin-right: 0!important;
          background: var(--backgrounds)!important;
          width: 100%;
          display: flex;
          border-radius: 10px;
          
          tr .seller-name {
            margin-left: -50px!important;

            @media(max-width: 767px) {
              display: block;
            }
          }

          tr .seller-products {
            margin-left: -35px!important;
          }

          tbody.seller-method-table {
            display: flex;
            flex-direction: column;
            width: 100%;
            border: solid 1px rgba(0, 0, 0, 0.13);
            border-bottom: none;
            tr { display: flex; }
            
            tr {
              background-color: #fdfdfd;
              border-bottom: solid 1px rgba(0, 0, 0, 0.13);
            }

            tr:first-child {
              background-color: var(--backgrounds);
            }

            .col-method, .col-price {
              display: block;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.modal-header {
  border-bottom: none;
}

.form-shipping-address .fieldset .field .label {
  font-weight: 500;
  margin-left: 20px;
  font-size: 12px;
  color: var(--highlight);
}

.opc-progress-bar-item._active:before {
  background: var(--midtone);
  border-color: var(--midtone);
}

.opc-progress-bar-item:before {
  background: var(--backgrounds);
  border-color: var(--backgrounds);
}

.opc-progress-bar-item._active > span:before {
  background: var(--midtone);
  border-color: var(--midtone);
  height: 30px;
  margin-left: -18px;
  width: 30px;
  top: 5px;
}

.opc-progress-bar-item > span:before {
  background: var(--backgrounds);
  border-color: var(--backgrounds);
  height: 30px;
  margin-left: -18px;
  width: 30px;
  top: 5px;
}

.opc-progress-bar-item > span:after {
  border-color: var(--backgrounds);
  background: var(--backgrounds);
  color: var(--shadow);
  height: 18px;
  margin-left: -12px;
  top: 11px;
  width: 18px;
  font-size: 12px;
  line-height: 18px;
}

.opc-progress-bar-item._active > span:after {
  border-color: var(--midtone);
  color: var(--midtone);
  background: var(--brightness);
  height: 18px;
  margin-left: -12px;
  top: 11px;
  width: 18px;
  font-size: 12px;
  line-height: 18px;
}

.opc-progress-bar-item._active > span {
  color: var(--midtone);
}

.opc-progress-bar-item > span {
  font-size: 1.5rem;
  color: var(--midtone);
}

.opc-progress-bar-item._complete > span {
  color: var(--midtone);
}

#shipping-new-address-form, #checkout-step-shipping {
  input[type="text"]:not(#search):not(#coupon_code), input[type="password"],
  input[type="url"], input[type="tel"],
  input[type="search"], input[type="number"],
  input[type="datetime"], input[type="email"], select{
    background: var(--backgrounds)!important;
    border: none;
    border-radius: 50px;
    height: 45px;
    padding-left: 20px;
    width: 65%;
  }
}

.checkout-shipping-method .actions-toolbar > .primary {
  float: left;
}

.opc-sidebar {
  margin-top: 0;
}

.opc-block-summary {
  background: transparent;

  > .title {
    color: var(--midtone);
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
}

.items-in-cart {
  background: var(--backgrounds)!important;
  border-radius: 10px;
  padding: 20px 20px;

  > .title {
    border-bottom: none;
    
    strong {
      font-size: 1.5rem;
    }

    &:after {
      color: var(--midtone);
      font-weight: bold;
    }

  }
}

.opc-wrapper .step-title {
  border-bottom: none;
  margin-bottom: 0;
  margin-top: 30px;
  color: var(--midtone);
  font-weight: 500;
  font-size: 1.8rem;
}

.opc-wrapper .form-login, .opc-wrapper .form-shipping-address {
  margin-top: 5px;
  max-width: 90%;;
}

.checkout-cart-index {
  .page-title-wrapper {
    margin-top: 1rem;

    h1 {
      color: var(--midtone);
      font-size: 16px;
      font-weight: var(--bold);
    }
  }
}

.cart {
  &.table-wrapper {
    table {
      border-radius: 0 !important;
      overflow: visible;

      > tbody + tbody {
        border-top: 1px solid rgba(0,0,0,.1);
      }
    }

    

    .cart > .item {
      border-bottom: 1px solid rgba(0,0,0,.1);
    }

    /* Thead */
    thead {
      th.col {
        background-color: var(--midtone);
        border-bottom: 0;
        padding: 16px 22px;
        color: var(--brightness);
        font-size: 14px;
        font-weight: var(--bold);
        border: 0;
        padding-top: 16px !important;

        &:first-child {
          border-radius: 8px 0 0 8px;
          text-align: left;
          padding-left: 22px !important;
        }
        &:last-child {
          border-radius: 0 8px 8px 0;
          padding-right: 22px !important;
        }
      }
      @media (max-width: 767px) {
        .col.remove {
          display: none;
        }
      }
    }

    /* Tbody */
    tbody {

      tr {
        @media (max-width: 767px) {
          display: block;
        }
      }

      /* Item image */
      .product-item-photo {
        vertical-align: middle;
      }
      .product-image-container {
        border-radius: 24px;
        box-shadow: 0px 0px 20px 0px rgba(10, 10, 10, 0.1);
        overflow: hidden;
        @media (max-width: 767px) {
          border-radius: 24px;
          box-shadow: 0px 0px 20px 0px rgba(10, 10, 10, 0.1);
          overflow: hidden;
        }
      }

      /* Item name */
      .product-item-details {
        vertical-align: middle;
        padding-bottom: 0;
      }
      .product-item-name > a {
        color: var(--midtone);
        font-size: 18px;
        font-weight: var(--bold);
      }

      /* Edit and Remove button */
      .item-actions {
        @media (max-width: 767px) {
          box-sizing: border-box;
          display: block;
          float: right;
          white-space: nowrap;
          width: 100%;
        }
      }
      .actions-toolbar{
        
        > *:not(.action-delete) {
          display: none;
        }

        > .action-delete {
          &::before {
            color: var(--midtone);
          }
        }
      }
      
      
      /* Quantity */
      .col.qty {
        position: relative;

        .input-text {
          width: 77px;
          height: 57px;
          border-radius: 24px;
          box-shadow: 0px 0px 20px 0px rgba(10, 10, 10, 0.1);
          background: var(--brightness)!important;
          font-size: 18px;
          font-weight: var(--regular);
          border: 0;
          margin-top: 0;
        }

        @media (min-width: 768px) {
          &::after {
            content: "";
            width: 1px;
            height: 43%;
            background: rgba(0,0,0,.1);
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }

        .control {
          position: relative;
          width: 77px;
          height: 57px;

          .qty-button {
            height: 57px;
            width: 22px;
            display: flex;
            align-items: center;
            z-index: 1;
            position: absolute;
            top: 0;
            padding: 3px;
            opacity: .5;
            cursor: pointer;
            font-size: 16px;
            color: rgba(0,0,0,.6);
      
            &:hover {
              opacity: 1;
            }
          }
      
          .inc {
            right: 0;
          }
          .dec {
            left: 0;
            justify-content: flex-end;
          }
        }
        
      }

      /* Unity Price */
      .col.price {
        position: relative;

        @media (min-width: 768px) {
          &::after {
            content: "";
            width: 1px;
            height: 43%;
            background: rgba(0,0,0,.1);
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }

      /* Subtotal */
      .col.subtotal {
        .price {
          color: var(--midtone);
        }
      }
    }
  } 
}
@media (min-width: 768px) {
  .cart.table-wrapper .col.price,
  .order-items.table-wrapper .col.price,
  .cart.table-wrapper .col.qty,
  .order-items.table-wrapper .col.qty,
  .cart.table-wrapper .col.subtotal,
  .order-items.table-wrapper .col.subtotal,
  .cart.table-wrapper .col.msrp,
  .order-items.table-wrapper .col.msrp {
    padding-left: 22px;
    padding-right: 22px;
  }
  .cart-container .form-cart {
    padding-right: 24px !important;
    margin-bottom: 4rem;
  }
}


/* Update Button */
.cart-container {
  .action.update {
    background: var(--midtone);
    color: var(--brightness);
    border: 0;
    box-shadow: none;
    border-radius: 35px;
    min-height: 32px;
  }
}

.cart-container .form-cart .actions.main > * {
  max-width: 50%;
}

/* Cupom */
.cart-discount {

  .block.discount {
    max-width: 356px;
    width: 100%;

    @media (max-width: 767px) {
      max-width: 100%;
    }
  }

  .title {
    pointer-events: none;
    cursor: default;
    margin-left: 22px;
    padding: 0 0 18px !important;

    @media (max-width: 767px) {
      border-top: 0 !important;
    }

    strong {
      font-size: 14px !important;
      color: var(--highlight) !important;
      font-weight: var(--bold) !important;
    }
    
    &::after {
      display: none !important;
    }
  }

  .content {
    display: block !important;

    input {
      height: 57px;
      border-radius: 57px 0 0 57px;
      background: var(--backgrounds);
      border: 0;
      box-shadow: none;
      padding: 0 22px;
    }

    .actions-toolbar .action.primary {
      background: var(--gradient-dark-hover);
      background-size: 205% auto !important;
      background-position: center left;
      color: var(--brightness) !important;
      font-size: 14px;
      font-weight: var(--bold);
      border: 0;
      box-shadow: none;
      border-radius: 57px;
      height: 57px;
      margin-left: -23px;
      z-index: 1;
      position: relative;
      width: 128px;

      &:hover {
        background-position: center right !important;
      }

      > span {
        font-size: 14px;
      }
    }
  }
}


/* Resumo da Compra */
.cart-summary {
  position: relative;

  @media (min-width: 768px) {
    background: transparent;

    &:before {
      content: "";
      position: absolute;
      top: 41px;
      left: 0;
      width: 100%;
      height: ~"calc(100% - 41px)";
      background: var(--backgrounds);
      border-radius: 5px;
      z-index: -1;
    }
  }
  @media (max-width: 767px) {
    top: 0px !important;
  }

  > .title {
    font-size: 16px;
    color: var(--midtone);
    font-weight: var(--bold);
    margin: 0 -20px 20px;
  }
  .cart-totals {
    border: 0;
  }

  .table-wrapper {
    tbody {
      tr {
        th {
          font-size: 14px;
          color: var(--highlight);
          font-weight: var(--bold);
          padding: 12px 10px 12px 22px;
        }
        td {
          padding: 12px 22px 12px 14px;
        }
        &.grand {
          text-transform: uppercase;

          th {
            padding: 28px 10px 8px 22px;
          }
          td {
            padding: 28px 22px 8px 14px;
          }
          .amount,
          .mark {
            border-top: 1px solid rgba(0,0,0,.1);
          }
          .mark {
            > strong {
              font-size: 0;
              position: relative;

              &::before {
                font-size: 14px;
                content: "Total";
              }
            }
          }
        
        }
      }
      .amount {
        font-size: 18px;
        color: var(--midtone);
        font-weight: var(--bold);
      } 
    }
  }

  .action.primary.checkout {
    background: var(--gradient-dark-hover);
    background-size: 205% auto !important;
    background-position: center left;
    color: var(--brightness) !important;
    font-size: 18px;
    font-weight: var(--regular);
    border: 0;
    box-shadow: none;
    border-radius: 70px;
    height: 70px;

    &:hover {
      background-position: center right !important;
    }
  }

  .checkout-methods-items {
    .item {
      margin-bottom: 0;
    }
  }
}
.block.shipping {
  .field[name="shippingAddress.country_id"],
  .field[name="shippingAddress.region_id"],
  .field.note {
    display: none;
  }
  > .title {
    border-top: 0;
    pointer-events: none;
    
    &:after {
      display: none;
    }
  }
  .input-text {
    box-shadow: 0px 0px 11px 0px rgba(10, 10, 10, 0.1);
    border: 0;
  }
  > .content {
    display: block !important;
  }
}
.action.multicheckout {
  display: none !important;
}


.payment-option.discount-code {
  .form.form-discount {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .payment-option-inner {
      width: 100%;
      margin: 0;
    }

    .input-text {
      height: 57px;
      border-radius: 57px 0 0 57px;
      background: var(--backgrounds);
      border: 0;
      box-shadow: none;
      padding: 0 22px;
    }
  
    .action {
      background: var(--gradient-dark-hover);
      background-size: 205% auto !important;
      background-position: center left;
      color: var(--brightness) !important;
      font-size: 14px;
      font-weight: var(--bold);
      border: 0;
      box-shadow: none;
      border-radius: 57px;
      height: 57px;
      margin-left: -23px;
      z-index: 1;
      position: relative;
      width: 128px;
  
      &:hover {
        background-position: center right !important;
      }
    }
  }
  
}

.checkout-onepage-success {
  #mundipagg-link-boleto.action.tocart.primary, hr {
      display: none;
  }
  .page-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #fff;
    align-self: center;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    @media (max-width: 767px) {
      width: calc(100% - 2rem);
    }

    .page-title-wrapper {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      justify-self: center;
      text-align: center;
      align-items: center;
      margin-top: 50px;

      .page-title {
        margin-bottom: 0;
        color: var(--midtone);
      }

      a.print {
        width: 100%;
        justify-self: center;
        padding: 5px;
        border-radius: 65px;
        border: solid 1px var(--midtone);
        margin-top: 20px;
      }
    }

    .main {
      display: flex;
      justify-content: center;
      align-items: center;

      .checkout-success {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        justify-self: center;
        text-align: center;
        border: dashed 2px var(--midtone);
        padding: 20px;
        margin-top: 30px;

        @media (max-width: 767px) {
          width: 90%;
        }

        .actions-toolbar {
          display: flex;
          justify-content: center;
          align-items: center;

          .primary {
            display: flex;
            justify-content: center;
            align-items: center;
          
            .action.primary.continue {
              padding: 15px;
              background: var(--gradient-dark);
              width: 300px;
              margin-right: 0;

              @media (max-width: 767px) {
                width: 100%;
                max-width: 300px;
              }
            }
          }
        }

        .payment-method-information {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          #mundipagg-link-boleto.action.tocart.primary, hr {
            display: block;
          }

          #mundipagg-link-boleto.action.tocart.primary {
            width: 250px;
            margin-bottom: 20px;
            background-color: transparent;
            border: solid 1px var(--midtone);
            border-radius: 65px;
            color: var(--midtone);
            font-weight: normal;
          }
        }
      }
    }
  }
}

.details-delivery {
  color: #a4252f;
  font-size: 11px;
}
.details-qty {
  font-size: 11px;
}