.share-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0;
  margin-top: 28px;
  margin-left: 95px;
  @media (max-width: 767px) {
    margin-left: 0;
  }

  > .title {
    font-size: 12px;
    font-weight: var(--bold);
    color: var(--lightness);
    letter-spacing: 0.6px;
    margin: 0 4px 14px 0;

  }
}

.share-list {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;

  > .item {
    margin: 0 7px 14px;
  }
}
.instagram {
  .ico {
    fill: #e82f7e;
  }
}
.whatsapp {
  .ico {
    fill: #56dc89;
  }
}

.share-link {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  transition: 200ms var(--cubic);

  &:hover {
    transform: translateY(-3px);
  }

  > .ico {
    width: 20px;
    height: 20px;
  }
}