.button-buy {
    background: var(--gradient-dark);
    height: 50px;
    text-transform: uppercase;
    color: var(--brightness);
    letter-spacing: 5px;
    font-weight: lighter;
    border: none;
    border-radius: 30px;
 }

 .price-and-shipping {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
 }
 
 .shipping-product {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
 }

 .shipping-product > * {
    padding: 10px;
 }

 .shipping-product .type{
    display: flex;
    flex-direction: column;
 }

 .shipping-product .price {
    display: flex;
    flex-direction: column;
 }

 .shipping-product .delivery-at {
    display: flex;
    flex-direction: column;
 }

 .table-wrapper {
    padding-top: 5%;
 }

 .table-wrapper table {
    color: var(--lightness);
    overflow:hidden;
    border-radius: 25px;
 }
 
 .table-wrapper th {
    text-align: center;
    background-color: var(--backgrounds);
    color: var(--shadow);
 }

 .table-wrapper td {
    border: solid 1px #ddd;
    vertical-align: middle;
 }

 .logo-store {
    width: 80px;
    height: 80px;
    background-color: #f5f5f5;
 }

 .price-product {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
 }

 .price-product .price, .price-and-shipping .price {
    font-size: 2rem;
    color: var(--shadow);
 }

 .price-product .color-text {
    color: var(--midtone);
 }

 .cep-wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    border-top: solid 1px var(--lightness);
 }

 .cep-input {
    display: flex;
    flex-direction: row;
 }

 .cep-input .info{
    display: flex;
    flex-direction: column;
    padding-right: 2%;
 }

 .cep-input .input-wrapper {
    display: flex;
    flex-direction: row;
    background-color: var(--backgrounds);
    padding: 8px;
    border-radius: 30px;
 }

 .input-wrapper .input-cep {
    height: 40px;
    background-color: transparent;
    border: none;
 }

 .input-wrapper .button-cep {
    height: 40px;
    background-color: transparent;
    border: none;
    color: var(--midtone);
    box-shadow: none;
 }
 
 .comparison-title {
    color: var(--midtone);
    font-weight: bold;
    font-size: 2rem;
 }

 .thumb-compare{
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .compare-product-img {
    width: 100%;
 }

 .product-main {
    display: flex;
    width: 60%;
    padding-bottom: 5%;
 }

 .product-main .info {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
 }

 .info h1 {
    font-weight: bold;
    color: var(--midtone);
 }

 .info .sub-info {
    color: var(--highlight);
    display: flex;
    justify-content: space-between;
 }

 .info .link {
    color: var(--midtone);
    align-self: bottom;
 }

 @media only screen and (max-width: 600px) {
    .th-shipping-product, .td-shipping-product {
       display: none;
    }

    .th-price-product, .td-price-product {
       display: none;
    }

    .product-main {
       width: 100%;
    }
 }

 /*BuyBox*/
 .buybox-wrapper {
   border: solid 1px #eee;
   border-radius: 25px;
   padding: 20px 20px 20px 0px;
   display: flex;
   flex-direction: column;

   > .label-sellers-list {
      padding: 0px 0px 15px 20px;
      width: 30%;
      
      span {
         font-size: 11px;
         font-weight: bold;
         color: #555;
      }
   }

   .buybox-content {
      display: flex;
   }

   .buybox-sellers {
      width: 40%;

      > .sellers-list {
         border-top: solid 1px #eee;
         border-radius: 0px 25px 25px 0px;
         border-right: solid 1px #eee;
         border-bottom: solid 1px #eee;
         width: 100%;
         overflow: hidden;

         > div {
            &:nth-child(1) {
               border-radius: 0px;
            }

            &:nth-child(3) {
               border-radius: 0px 0px 0px 0px;
               border-bottom: solid 1px #fff;
               border-top: solid 1px #fff;
            }

            &:nth-child(5) {
               border-radius: 0px 0px 25px 0px;
            }
         }
      
         .item-container {
            border-radius: 0px 25px 25px 0px;
            height: 90px;
            background-color: var(--backgrounds);
            display: flex;
            font-weight: lighter;      

            .buybox-radio {
               &:before {
                  content: '';
                  width: 15px;
                  height: 15px;
                  border: solid 2px #ccc;
                  border-radius: 50%;
                  background: var(--backgrounds);
                  position: absolute;
                  margin-top: -2px;
                  margin-left: -2px;
               }

               &:checked {
                  &:before {
                     content: '';
                     border: solid 2px var(--midtone);
                     background: #fff;
                  }

                  &:after {
                     content: '';
                     width: 5px;
                     height: 5px;
                     border-radius: 50%;
                     background: var(--midtone);
                     position: absolute;
                     margin-top: 5px;
                     margin-left: 5px;
                  }
               }
            }
   
            > label {
               display: flex;
               justify-content: center;
               align-items: center;
               width: 25%;
            }
   
            > .title-wrapper {        
               color: #777;
               font-size: 1.3rem;
               justify-content: center;
               display: flex;
               flex-direction: column;
               font-weight: lighter;

               > .shop-price {
                  font-size: 18px;
                  color: var(--midtone);
                  font-weight: normal;
               }
   
               > .super-attribute-unselected, .super-attribute-selected {
                  display: flex;
                  flex-direction: column;
   
                  > .shop-price {
                     font-size: 18px;
                     color: var(--midtone);
                     font-weight: normal;
                  }
               }
            }
   
            &.active {
               background-color: #fff;
            }
   
         }
      
      }
   }

   .buybox-product {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 15px;
      width: 60%;

      .price-box {
         width: 100%;
         padding-left: 30px;

         span {
            font-size: 20px;
            color: #000;
         }
      }

      .seller-box {
         width: 100%;
         margin-top: 20px;
         display: flex;
         flex-direction: column;
         padding-left: 30px;

         .seller-label {
            font-size: 12px;
            font-weight: 600;
            color: #555;
         }

         .buybox-seller {
            font-size: 14px;
            font-weight: bold;
            color: var(--midtone);
         }
      }

      .box-tocart {
         margin-top: 20px;
      }
   }
 }

 .button-box {
    width: 100%;
    .actions {
       button {
          width: 100%;
          padding: 20px;
          text-transform: uppercase;
          letter-spacing: 5px;
          border-radius: 30px;
          background: var(--gradient-dark);
       }
    }
 }