<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

/** @var \Magento\CatalogWidget\Block\Product\ProductsList $block */
?>

<?php
$_schoolHelper = $this->helper(MapleBear\Schools\Helper\Data::class);
?>
<?php if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())) : ?>
    <?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;
    ?>
    <div class="block widget block-products-list <?= /* @noEscape */ $mode ?>">
        <?php if ($block->getTitle()) : ?>
            <div class="block-title">
                <strong><?= $block->escapeHtml(__($block->getTitle())) ?></strong>
            </div>
        <?php endif ?>
        <div class="block-content">
            <?= /* @noEscape */ '<!-- ' . $image . '-->' ?>
            <div class="products-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ $mode ?>">
                <div class="glide-carousel glide" is="glide-slider" data-mounted="false">
                    <div class="glide__track track" data-glide-el="track">
                        <ol class="product-items slides glide__slides -slides <?= /* @noEscape */ $type ?>">
                            <?php $iterator = 1; ?>
                            <?php foreach ($items as $_item) : ?>
                                <?= /* @noEscape */ ($iterator++ == 1) ? '<li class="product-item glide__slide slide">' : '</li><li class="product-item glide__slide slide">' ?>
                                <div class="product-item-info">
                                    <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo">
                                        <?= $block->getImage($_item, $image)->toHtml() ?>
                                    </a>
                                    <div class="product-item-details">
                                        <strong class="product-item-name">
                                            <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                              href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                              class="product-item-link">
                                                <?= $block->escapeHtml($_item->getName()) ?>
                                            </a>
                                        </strong>
                                        <?php if ($templateType) : ?>
                                            <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                        <?php endif; ?>

                                        <?= $block->getProductPriceHtml($_item, $type) ?>

                                        <?= $block->getProductDetailsHtml($_item) ?>

                                        <?php if ($showWishlist || $showCompare || $showCart) : ?>
                                            <div class="product-item-inner">
                                                <div class="product-item-actions">
                                                    <?php if ($showCart) : ?>
                                                        <div class="actions-primary">
                                                            <?php if ($_item->isSaleable()) : ?>
                                                                <?php $postParams = $block->getAddToCartPostParams($_item); ?>
                                                                <form 
                                                                    data-role="tocart-form"
                                                                    data-product-sku="<?= $block->escapeHtml($_item->getSku()) ?>"
                                                                    action="<?= $block->escapeUrl($postParams['action']) ?>"
                                                                    method="post"
                                                                    id="product_form_<?= $_item->getSku() ?>">
                                                                    <input type="hidden" name="product" value="<?= $block->escapeHtmlAttr($postParams['data']['product']) ?>">
                                                                    <input type="hidden" name="<?= /* @noEscape */ Action::PARAM_NAME_URL_ENCODED ?>" value="<?= /* @noEscape */ $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                                                    <?= $block->getBlockHtml('formkey') ?>
                                                                    <?php
                                                                        $isSlm = $_schoolHelper->isSLM($_item->getId());
                                                                    ?>
                                                                    <button type="<?= $isSlm ? 'button' : 'submit' ?>"
                                                                            title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                                                                            class="<?= $isSlm ? '' : 'action' ?> tocart <?= $isSlm ? 'is_slm' : '' ?> primary">
                                                                        <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
                                                                    </button>
                                                                </form>
                                                            <?php else : ?>
                                                                <?php if ($_item->getIsSalable()) : ?>
                                                                    <div class="stock available"><span><?= $block->escapeHtml(__('In stock')) ?></span></div>
                                                                <?php else : ?>
                                                                    <div class="stock unavailable"><span><?= $block->escapeHtml(__('Out of stock')) ?></span></div>
                                                                <?php endif; ?>
                                                            <?php endif; ?>
                                                        </div>
                                                    <?php endif; ?>
                                                    <?php if ($showWishlist || $showCompare) : ?>
                                                        <div class="actions-secondary" data-role="add-to-links">
                                                            <?php if ($this->helper(\Magento\Wishlist\Helper\Data::class)->isAllow() && $showWishlist) : ?>
                                                                <a href="#"
                                                                  data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_item) ?>' class="action towishlist" data-action="add-to-wishlist" title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                                                    <span><?= $block->escapeHtml(__('Add to Wish List')) ?></span>
                                                                </a>
                                                            <?php endif; ?>
                                                            <?php if ($block->getAddToCompareUrl() && $showCompare) : ?>
                                                                <?php $compareHelper = $this->helper(\Magento\Catalog\Helper\Product\Compare::class);?>
                                                                <a href="#" class="action tocompare" data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($_item) ?>' title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                                    <span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
                                                                </a>
                                                            <?php endif; ?>
                                                        </div>
                                                    <?php endif; ?>
                                                </div>
                                            </div>
                                        <?php endif; ?>
                                    </div>
                                </div>
                                <?= ($iterator == count($items) + 1) ? '</li>' : '' ?>
                            <?php endforeach ?>
                        </ol>
                    </div>
                    <!-- Carrossel Glide Control -->
                    <div class="glide-arrows arrows" data-glide-el="controls">
                        <button aria-label="<?= __('Previous photo') ?>" class="glide__arrow glide-arrow arrow-left arrow left glide__arrow--left" data-glide-dir="<">
                            <svg class="ico"><use xlink:href="#prev"></use></svg>
                        </button>
                        <button aria-label="<?= __('Next photo') ?>" class="glide__arrow glide-arrow arrow-right arrow right glide__arrow--right" data-glide-dir=">">
                            <svg class="ico"><use xlink:href="#next"></use></svg>
                        </button>
                    </div>
                </div>
            </div>
            <?= $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>

<script type="module">
  import Glide from 'https://cdn.pika.dev/@glidejs/glide@%5E3.4.1/minified';

 /**
   * Slider
   * @extends HTMLDivElement
   */
  class GlideSlider extends HTMLDivElement {
    /** Setup rendering engine */
    constructor(){
      super();
      const self = this;
      /** @private */
      this.glide = null;
    }


    /** 
     * Run the initial rendering of the element 
     * and starts watching for external template change for re-render 
     */
    connectedCallback(){
      this.glide = this.glide || new Glide(this, {
        type: 'carousel',
        perView: 4,
        startAt: 0,
        focusAt: 1,
        gap: 15,
        rewind: false,
        classes: {
          direction: {
            ltr: '-ltr',
            rtl: '-rtl'
          },
          activeSlide: '-active',
          dragging: '-dragging',
          swipeable: '-swipeable',
          disabledArrow: '-disabled'
        },
        breakpoints: {
          1200: { perView: 4 },
          992: { perView: 3 },
          768: { perView: 2 },
          320: { perView: 2 }
        }
      })

      this.glide = this.glide || glide;
      this.glide = this.glide.mount()
    }

    /** 
     * Cleanup previous rendering
     */
    disconnectedCallback(){
      this.glide.destroy()
    }
  }
  if (!window.customElements.get('glide-slider')) {
    window.customElements.define('glide-slider', GlideSlider, { extends: "div" });
  }
</script>